page-recargas {
    #map{
        display: block;
        height: 100%;
        width: 100%;
      }

    
}

.toolbar-background {
    background-image: url("../assets/img/fondo.png");
    background-size: 100%;
    background-position-y: 20%;
  }
 


