page-home {

}
#Content{
    background-image: url("../assets/img/fondo.png");
    background-size: 100%; 
    
}

#divTitulo{
    text-align: center;
    padding-bottom: 5%;
}

#iconoLogo{
    width: 30%;
    padding-top: 20%;
}

#label{
    width: 85%;
}

#DivBtnBus{
    text-align: center;
    width: 50%;  
}

#DivBtnCard{
    text-align: center;
    width: 50%;
}

#iconoBus{
    width: 50%;
}
#iconoCard{
    width: 50%;}


#rutas{
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: white;
    overflow: visible;
    margin-top: 0%;
}



#recargas{
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 0%;
}

